# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments (evitar subir entornos)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Django
*.log
staticfiles/
media/
local_settings.py
db.sqlite3

# Unit test / coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# Type checkers / linters
.mypy_cache/
.ruff_cache/
pylint-report.txt
mypy-report.txt

# Logs
logs/


